@use '../../../globalStyles/variables' as *;
@use '../../../globalStyles/mixins' as *;
@use '../../../globalStyles/functions' as *;

#treatments{
    scroll-margin: 100px;
}

.trattamenti{
    background-color: $blue;
    padding: toRem(16);

    @include mdMinBreakPoint {
        padding: toRem(32);
    }
}