@use '../../../globalStyles/mixins' as *;
@use '../../../globalStyles/functions' as *;

.navigation{
    &-wrapper{
        display: block;
        box-shadow: none;
        position: relative;
        @include lgMinBreakPoint {
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0px toRem(1) toRem(6) rgba(0,0,0,0.2);
            padding: toRem(20) toRem(24);
        }

        & .btn{
            display: none;
            @include lgMinBreakPoint {
                display: block;
            }
        }
        .hamburger-react{
            @include lgMinBreakPoint {
                display: none;
            }
        }
    }
    &-container{
        display: flex;
        box-shadow: 0px toRem(1) toRem(6) rgba(0,0,0,0.2);
        padding: toRem(8) toRem(16);
        justify-content: space-between;
        align-items: center;
        @include lgMinBreakPoint {
            box-shadow: none;
        }
    }
    &-menu{
        max-height: 0;
		transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        position: absolute;
        width: 100vw;
        background-color: white;
        z-index: 1;

        @include lgMinBreakPoint {
            max-height: unset;
            position: unset;
            width: auto;
        }

        &-inner{
            padding: 16px;
            display: flex;
            flex-direction: column;

            @include lgMinBreakPoint {
                padding: 0;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }


        &--open{
            max-height: toRem(500);
        }
    }
}
  

