@use '../../../globalStyles/mixins' as *;
@use '../../../globalStyles/functions' as *;

.navigation{
    &-wrapper{
        display: block;
        box-shadow: none;
        @include lgMinBreakPoint {
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0px toRem(1) toRem(6) rgba(0,0,0,0.2);
            padding: toRem(20) toRem(24);
        }

        & .btn{
            display: none;
            @include lgMinBreakPoint {
                display: block;
            }
        }
        .hamburger-react{
            @include lgMinBreakPoint {
                display: none;
            }
        }
    }
    &-container{
        display: flex;
        box-shadow: 0px toRem(1) toRem(6) rgba(0,0,0,0.2);
        padding: toRem(8) toRem(16);
        justify-content: space-between;
        align-items: center;
        @include lgMinBreakPoint {
            box-shadow: none;
        }
    }
    &-menu{
        display: flex;
        flex-direction: column;
        max-height: 0;
		transition: all 0.5s ease-in-out;
        overflow: hidden;
        margin: toRem(16);

        @include lgMinBreakPoint {
            margin: 0;
        }

        &--open{
            max-height: toRem(500);
        }

        @include lgMinBreakPoint {
            flex-direction: row;
            max-height: unset;
        }
    }
}
  

